<div class="container">
  <h1>I know you are reading this but the thing is , i spend 2 hours making this link so you will be my hostage for the next 2 hours</h1>

  <%= render "form" %>

  <div class="class"></div>
  <h2> <%= link_to 'Back', restaurants_path %> </h2>
</div>
